.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
    ),  
    url("https://wallpapershome.com/images/wallpapers/yosemite-3840x2160-5k-4k-wallpaper-8k-forest-osx-apple-mountains-181.jpg");
    background-size: cover;
    
}

.loginTitle{

    font-size: 30px;
    font-family: 'Slackey', cursive;
    margin: 50px;
}

.loginForm{

    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm{

    margin: 10px 0;
}

.loginInput{

    padding: 10px;
    background-color: white;
    border: none;

}
.loginButton{

    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;

}

.loginRegisterButton{

    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}